<?xml version="1.0" ?>
﻿<model>
﻿    <name>placa_224</name>
﻿    <version>1.0</version>
﻿    <sdf version="1.6">Placa_224.sdf</sdf>
﻿    <author>
﻿        <name>Phi_Group_Ricardo_dos_Santos_Westhauser</name>
﻿        <email>ricardo.westhauser@inf.ufrgs.br</email>
﻿    </author>
﻿    <description>Placas das salas do prédio 73</description>
﻿</model>
