<?xml version="1.0" ?>
<model>
    <name>UFRGS_INF_Predio_73</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Phi_Group_Ricardo_dos_Santos_Westhauser</name>
        <email>ricardo.westhauser@inf.ufrgs.br</email>
    </author>
    <description>Segundo_andar_do_predio_73_do instituto_de_informatica_da_UFRGS</description>
</model>
